/archive
/bootstrap
/config
/calc-recall.sh
/config.sh
/config-python.sh
/exec.sh
/fmeasure.sh
/*.align
/kill.sh
/log
/gpc
/manual_config
/output
/temp
/stat-signf.sh
/corpus
/data
/fmeasure
/corpus.zip
